{% extends "layouts/base.html.twig" %}

{% block title %}{{ app_name }} - Error{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h1 class="display-4">{{ error }}</h1>
                <p class="lead">Sorry, something went wrong.</p>
                <a href="/" class="btn btn-primary">Return to Collection</a>
            </div>
        </div>
    </div>
{% endblock %} 